
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #282424;
    --background-color: #EEEEEE;
    --other-background: 
}
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', sans-serif; 
}
body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
}

header {
    min-height: 12vh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 5rem;
}

/* GAME BOARD SQUARES */

.gameboard {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 160px 160px 160px;
    gap: 1.5rem;
    /* position: absolute; */
    margin-top: 50px;
    /* left: calc((100% - 30%)/2); */

}
.gameboard > div {
    background-color: rgb(255, 255, 255);
    border-radius: 15px 15px;
}

/* GRIDBOX */
.grid-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.button-div {
   
    width: 100%;
    margin-top: 5rem;
    text-align: center;
}
button {
    padding: 15px 32px;
    background-color: #EA4C89;
    color: var(--primary-color);
    font-size: 2rem;
    border: none;
    border-radius: 8px;
    transition: color 500ms;
    cursor: pointer;
}
button:hover {
    background-color: pink;
}

